<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}" target="_blank">
            <img alt="RSS" src="/assets/rss.png" width="50" height="50">
          </a>
          <a href="https://www.youtube.com/channel/UCBOVLzGUr0ukioDfWPMzyTQ" target="_blank">
            <img alt="YouTube" src="/assets/youtube.png" width="50" height="50">
          </a>
          <a href="https://discord.com/invite/XXjEEuERMV" target="_blank">
            <img alt="Discord" src="/assets/discord.png" width="50" height="50">
          </a>
        </p>
        {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
          <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
          <li>Reach us: <a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
        {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>